<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KinderGarten</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class = "logo">
                    <h1>KinderGarten</h1>
                </div>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Class</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <a href="#" class="enroll-btn">Enroll Now</a>
            </nav>
        </header>
        <section class="main-content">
            <h2>Welcome to our <span class="highlight">KinderGarten</span></h2>
            <p>
                Our set he for firmament morning sixth subdue today the darkness creeping gathered divide our let god moving today.
                Moving in fourth air night bring upon lesser subdue fowl male signs.
            </p>
            
            <div class="features">
                <div class="feature-item">
                    <div class="icon">
                        <img src="icon-sports.svg" alt="Sports Icon">
                    </div>
                    <h3>Inter School Sports</h3>
                    <p>The words you use in your written communica speak volumes.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="icon-friendly.svg" alt="Friendly Icon">
                    </div>
                    <h3>Friendly Enviroment</h3>
                    <p>The words you use in your written communica speak volumes.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="icon-multimedia.svg" alt="Multimedia Icon">
                    </div>
                    <h3>Multimedia Class</h3>
                    <p>The words you use in your written communica speak volumes.</p>
                </div>
            </div>

            <div class="image-section">
                <img src="kids-learning.png.webp" alt="Kids-Learning">
            </div>
        </section>
    </body>
</html>